.venv
.vscode
__pycache__
/sw/baseline/data
/sw/baseline/platform.c
/sw/baseline/platform.h
/sw/baseline/lenet_weights.c
/model/train-images.idx3-ubyte
/model/train-labels.idx1-ubyte
predict.dSYM
*.o
predict
/model/conv_test.ipynb
/model/golden.ipynb
/model/convert_dataset.ipynb